<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AqaratyDevEntities" connectionString="metadata=res://*/AqaratyModel.csdl|res://*/AqaratyModel.ssdl|res://*/AqaratyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMADABDULLAH;initial catalog=AqaratyDev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>